extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  +navbar()
  h1= title
  div(class='content')
    div(class='main-container')
      div(class='content-left')
        div(class='add-tag')
          form(action='/tags' method='post')
            button(type='submit' class='btn-add-tag') + Add Tag
        if tags
          for tag in tags
            div(class='tag-card')
              p= tag.name
        p Ghostbusters
        p Scooby-Doo
        p Bagels
        p FloridaMan
      div(class='content-center')
        if questions
          for question in questions
            div(class='q-card')
              div(class='q-card-top')
                h3: a(href=`/questions/${question.id}`)= question.headline
                div(class='q-content')
                  p= question.content
              div(class='q-bottom')
                //- form(action=`/questions/${question.id}` method='get')
                a(href=`/questions/${question.id}`)
                  button(class='btn-bar')
                    include svg/answer-pen.svg
                    p Answer
                    
                div(class='btn-bar')
                  -var vote = 0;
                  for questionVote in question.QuestionVotes
                    if questionVote.upVote
                      -vote++;
                    if questionVote.upVote === 'false'
                      -vote--;

                div(class='btn-bar')

                  

                  form(action='/questionVotes' method='post' id='vote-form')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='hidden' name='questionId' value=question.id)
                    input(type='hidden' name='userId' value=locals.user.dataValues.id)
                    input(type='hidden' name='upVote' value='true')
                    button(type='submit' class='btn-bar')
                      include svg/upvote.svg
                    p(id=`vote-count-${question.id}`)= vote
                  form(action='/questionVotes' method='post' id='vote-form')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='hidden' name='questionId' value=question.id)
                    input(type='hidden' name='userId' value=locals.user.dataValues.id)
                    input(type='hidden' name='upVote' value='false')
                    button(type='submit' class='btn-bar')
                      include svg/downvote.svg
                   div
                    -var comments = 0;
                    button(name='questionComments' class='btn-bar')
                      include svg/comment.svg
                      p= comments

      div(class='content-right')
        h3 Ads?