extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/question.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    +navbar()
    div(class='content')
        div(class='main-container-detail')
            div(class='content-center')
                div(class='q-card-detail')
                    div(class='q-card-top')
                        h3= question.headline
                        div(class='q-content')
                            p= question.content
                    div(class='q-bottom')
                        div(class='qa-votes')
                            -var vote = 0;
                            for questionVote in question.QuestionVotes
                                if questionVote.upVote
                                    -vote++;
                                if questionVote.upVote === 'false'
                                    -vote--;
                            form(action='/questionVotes' method='post' id='vote-form')
                                input(type='hidden' name='_csrf' value=csrfToken)
                                input(type='hidden' name='questionId' value=question.id)
                                input(type='hidden' name='userId' value=locals.user.dataValues.id)
                                input(type='hidden' name='upVote' value='true')
                                button(type='submit' class='btn-vote') &#8679
                            p(id=`vote-count-${question.id}`)= vote
                            form(action='/questionVotes' method='post' id='vote-form')
                                input(type='hidden' name='_csrf' value=csrfToken)
                                input(type='hidden' name='questionId' value=question.id)
                                input(type='hidden' name='userId' value=locals.user.dataValues.id)
                                input(type='hidden' name='upVote' value='false')
                                button(type='submit' class='btn-vote') &#8681
                        if question.userId === locals.user.dataValues.id
                            form(action=`/questions/edit/${question.id}` method='post')
                                input(type="hidden" name="_csrf" value=csrfToken )
                                label(for='headline' hidden='true' class='edit-form-hidden-fields') Headline
                                input(type='text' name='headline' value=question.headline hidden='true' class='edit-form-hidden-fields')
                                label(for='content' hidden='true' class='edit-form-hidden-fields') Content
                                textarea(name='content' hidden='True' class='edit-form-hidden-fields')= question.content
                                div
                                    button(type='submit' class='btn-grey edit-form-hidden-fields' id='qa-detail-edit' hidden='True') Edit
                            form(action=`/questions/delete/${question.id}` method="post")
                                input(type="hidden" name="_csrf" value=csrfToken)
                                input(type='hidden' name='questionId' value=question.id)
                                div
                                    button(type='submit' class='btn-grey-l') Delete
                            button(class='btn-grey-l' id='question-edit-appear') Edit

                    div(class="answer-zone")
                        h2 Answers
                        form(action='/answers/new' method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='hidden' name='questionId' value=question.id)
                            input(type='text' name='content' placeholder='Have an answer?')
                            div
                                button(type='submit' class='btn-red') Submit
                        ul(class='answer-list')
                            for answer in question.Answers
                                li(class='answer')
                                    div(class='answer-card')
                                        p= answer.userName
                                        p(id=`contentDisplay-${answer.id}`)= answer.content
                                        div(class='qa-votes')
                                            if answer.userId === locals.user.dataValues.id
                                                form(action=`/api/edit/${answer.id}` method='post' id='edit-form')
                                                    input(type='hidden' name='answerId' value=answer.id)
                                                    input(type='hidden' name='questionId' value=question.id)
                                                    input(type='text' id='errorDisplay' hidden=true)
                                                    label(for='content')
                                                    textarea(name='content')= answer.content
                                                    button(type='submit' id=`editAnswer-${answer.id}` class='btn-grey') Edit
                                                form(action=`/api/delete/${answer.id}` method='post' id='delete-form')
                                                    input(type='hidden' name='answerId' value=answer.id)
                                                    input(type='hidden' name='questionId' value=answer.id)
                                                    div
                                                        button(type='submit' class='btn-grey-l' id='delete-btn') Delete
