extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/question.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

    div(id='question-page')
        div( id='question-card')
            h2= question.headline
            p= question.content
            if question.userId === locals.user.dataValues.id
                form(action=`/questions/edit/${question.id}` method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    label(for='headline') Headline
                    input(type='text' name='headline' value=question.headline)
                    label(for='content') Content 
                    textarea(name='content')
                    button(type='submit') edit
                form(action=`/questions/delete/${question.id}` method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button delete
        form(action='/answers/new' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='questionId' value=question.id)
            input(type='text' name='content' placeholder='have an answer?')
            div
                button(type='submit' class='btn-red') Submit
        div(class="answer-zone")
            h2 Answers
            ul(class='answers-list')
                for Answer in question.Answers
                    li(class='answer')
                        div(class='answer-card')
                            p= Answer.userName
                            p= Answer.content
