extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/question.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    +navbar()
    div(class='content')
        div(class='main-container-detail')
            div(class='content-center')
                div(class='q-card-detail')
                    div(class='q-card-top')
                        h3= question.headline
                        div(class='q-content')
                            p= question.content
                    div(class='q-bottom')
                        if question.userId === locals.user.dataValues.id
                            form(action=`/questions/edit/${question.id}` method="post")
                                input(type="hidden" name="_csrf" value=csrfToken)
                                input(type='hidden' name='questionId' value=question.id)
                                div
                                    button(type='submit') Edit
                            form(action=`/questions/delete/${question.id}` method="post")
                                input(type="hidden" name="_csrf" value=csrfToken)
                                input(type='hidden' name='questionId' value=question.id)
                                div
                                    button(type='submit') Delete
                        div(class='question-votes')
                            form(action='/questionvotes' method='post')
                                input(type='hidden' name='questionId' value=question.id)
                                div
                                    button(type='submit' class='btn-upvote') Upvote
                            form(action='/questionvotes/delete' method='post')
                                input(type='hidden' name='questionId' value=question.id)
                                div
                                    button(type='submit' class='btn-upvote') Upvote

                    div(class="answer-zone")
                        h2 Answers
                        form(action='/answers/new' method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='hidden' name='questionId' value=question.id)
                            input(type='text' name='content' placeholder='have an answer?')
                            div
                                button(type='submit' class='btn-red') Submit
                        ul(class='answers-list')
                            for answer in question.Answers
                                li(class='answer')
                                    div(class='answer-card')
                                        p= answer.userName
                                        p= answer.content
                                        div(class='q-bottom')

                                        if answer.userId === locals.user.dataValues.id
                                            form(action=`/answers/edit/${answer.id}` method='post')
                                                input(type='hidden' name='_csrf' value=csrfToken)
                                                input(type='hidden' name='questionId' value=answer.id)
                                                div
                                                    button(type='submit') Edit
                                            form(action=`/answers/delete/${answer.id}` method='post')
                                                input(type='hidden' name='_csrf' value=csrfToken)
                                                input(type='hidden' name='questionId' value=answer.id)
                                                div    
                                                    button(type='submit') Delete
                                        div(class='answer-votes')
                                            form(action='/answervotes' method='post')
                                            input(type='hidden' name='_csrf' value=csrfToken)
                                            input(type='hidden' name='questionId' value=answer.id)
                                            div
                                                button(type='submit' class='btn-upvote') Upvote
                                            form(action='/answervotes/delete' method='post')
                                            input(type='hidden' name='_csrf' value=csrfToken)
                                            input(type='hidden' name='questionId' value=answer.id)
                                            div
                                                button(type='submit' class='btn-downvote') Downvote
