mixin inputField ( labelText, name, value, fieldType, placeholder=null)
    div(class="formInputs")
        label(for=name)= labelText
        if fieldType === 'textarea'
            textarea(name=name, cols="30", rows="10")= value
        else
            input(type=fieldType name=name value=value id=name placeholder=placeholder)

mixin validationErrorSummary(errors)
  if errors
    div(class='error-messages' role='alert')
      //- p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin demoUser()
  div(id='demo-user')
    form(action='/users/login' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='hidden' name='userName' value='demo')
      input(type='hidden' name='password' value='Password1@')
      button(type='submit' class='btn-grey') Demo

mixin navbar()
  div(class='nav-container')
    div(class='nav-bar')
      h1: a(href='/') QuoWrong
      form(action='/questions/new' method='get')
        input(type='hidden' name='_csrf' value=csrfToken)
        button(type='submit' class='btn-red') Add Question
      form(action='/search' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='search' name='search' id='search-bar' placeholder='Search QuoWrong')
      if locals.authenticated
        form( action='/users/logout' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          button(type='submit' class='btn-beige') Logout
      else
        span()
          a( href='/users/login') Login
          a( href='/users/sign-up') Sign Up